body {
	font-family: Arial, Helvetica, sans-serif;
}

#navbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-bottom: 2px solid blue;
	display: inline;
	background-color: #CCCCFF;
}

#navbar h1 {
	display: inline;
	margin-left: 5px;
	margin-right: 100px;
}

#navbar h2 {
	display: inline;
	margin-right: 25px;
	font-size: 90%;
}

#navbar form {
	position: absolute;
	display: inline;
	top: 0;
	right: 10px;
}

#navbar h2 a:link {
	text-decoration: none;
	font-color: #0000FF;
}

#navbar h2 a:hover {
	text-decoration: underline;
	font-color: #FF00FF;
}

#navbar h2 a:visited {
	font-weight: bold;
	text-decoration: none;
}

#left-nav {
	float: left;
	width: 150px;
	display: none;
}

#content {
	margin-left: 150px;
	margin-right: 150px;
	margin-top: 4em;
	margin-bottom: 4em;
}

#content table {
	border-collapse: collapse;
	width: 100%;
}

#content td, th {
	border: 1px solid #999;
	padding: 0.1em 1em;
}

#right-nav {
	float: right;
	width: 150px;
	top: 4em;
	display: none;
}

#footer {
	width: 100%;
	position: relative;
	bottom: 1px;
	left 25px;
	border-top: 2px solid blue;
	text-align: center;
}

#footer h1 {
	display: inline;
	margin-right: 15px;
	font-size: small;
}
