body {
  font-family: Helvetica, sans-serif;
  //background-color: #DDDDDD;
}

a:link {
	text-decoration: none;
	color: #0000FF;
}

a:visited {
	font-weight: bold;
	text-decoration: none;
	color: #660099;
}

a:hover {
	font-weight: bold;
	text-decoration: underline;
	color: #FF00FF;
}

input {
}

.submit input {
	margin-left: 9em;
	font-weight: bold;
}

.fancy-table-detail {
	border-collapse: collapse;
	border-bottom: 2px solid black;
	border-top: 4px solid black;
}

.fancy-table-detail th {
	background-color: #e3e9ff;
	width: 15%;	
	text-align: right;
	font-weight: bold;
}

.fancy-table {
	border-collapse: collapse;
	border-bottom: 2px solid black;
	border-top: 4px solid black;
}

.fancy-table thead {
	border-width: 5px 0 1px 0;
	font-weight: bold;
}

.fancy-table thead td {
	background-color: #e3e9ff;
	border-bottom: 1px solid black;
	line-height: 1.4em;
	padding: 0 0.25em;
	vertical-align: top;
}

form#add {
	border: 1px solid black;
}

form#add td {
	border: 0px;
}

form#add th {
	border: 0px;
	text-align: right;
}

.button {
	font-weight: bold;
	text-align: center;
}

#forms {
	border: 1px solid black;
}

#forms td {
	border: 0px;
}

#forms th {
	border: 0px;
	text-align: right;
}

.even {
	background-color: #fff;
}

.odd {
	background-color: #FFFFE0;
}

.fork {
	//background-color: #e3e9ff;
	//border-bottom: 1px solid black;
	margin: -1em -1em 0.5em -1em;
	padding: 0.25em 0.5em;
}

.fork h1 {
	font-size: 1.4 em;
	margin: 0;
}

table {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
	text-align: left;
	padding: 5px;
}

#header {
  font-weight: bold;
  width: 100%;
  height: 200px;
  //padding: 5px;
  //margin: 0px auto;
  //border: 1px solid black;
  //border-top: 1px solid black;
  //border-left: 1px solid black;
  //border-right: 1px solid black;
  //border-bottom: 1px solid black;
  //text-align: center;
	background: url(banner2.jpg) top left no-repeat;
}

#navigation {
  width: 200px;  
  position: absolute;
	top: 225px;
  padding: 5px;
  //border-top: 1px solid black;
  //border-left: 1px solid black;
  //border-right: 1px solid black;
  //border-bottom: 1px solid black;
}

#nav_title {
  font-weight: bold;
	color: #CC0033;
  //border-top: 1px solid black;
	padding-left: 5px;
	padding-top: 5px;
}

#nav_links {
  padding-left: 10px;
}

#nav_links a:link {
	//color: blue;
}

#content {
  width: 75%;
  //padding: 5px;
  position: absolute;
	top: 225px;
  left: 240px;
}


