<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
  <!--<link rel="stylesheet" href="http://static.freesideatlanta.org/freeside.css" />-->
  <!--<link rel="stylesheet" href="/stylesheets/style.css" />-->
  <title>Riverlog - {% block title %}{% endblock %}</title>
</head>
<body>
  <div id="container">
    {% block container %}
      <div id="header">
        <div id="logoTxt">
          <a href="/home"><img src="/images/riverlog.png" alt="Riverlog"/></a>
        </div>
      </div>
      <div id="body">
      	{% block content %}{% endblock %}
      </div>
      <div id="footer">
				{% block footer %}
					<hr />
					Copyright 2010 by Tim Boring
				{% endblock %}
			</div>
    {% endblock container %}
  </div>
</body>
</html>
