{% extends "base.html" %}
{% block title %}Rivers{% endblock %}
{% block content %}

<div class="fork">
	<h1>Rivers</h1>
</div>

<table class="fancy-table">
	<thead>
		<tr>
			<td>Date</td>
			<td>Put-on</td>
			<td>Take-out</td>
			<td>River</td>
			<td>Section</td>
			<td>USGS Level</td>
			<td>Bridge Gauge</td>
			<td>Notes</td>
		</tr>
	</thead>
	<tbody>
	{% for river in rivers %}
	<tr class="{% cycle "even" "odd" %}">
		<td><a href="/river/{{ river.id }}">{{ river.date }}</a></td>
		<td>{{ river.put_on_time }}</td>
		<td>{{ river.take_out_time }}</td>
		<td>{{ river.river }}</td>
		<td>{{ river.section }}</td>
		<td>{{ river.usgs_level }}</td>
		<td>{{ river.bridge_gauge }}</td>
		<td>{{ river.notes }}</td>
	</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}
