{% extends "base.html" %}
{% block title %}Rivers{% endblock %}
{% block content %}

<div class="fork">
	<h1>Run</h1>
</div>

<table class="fancy-table-detail">
		<tr>
			<th>Date</th>
			<td>{{ river.date }}</td>
		</tr>
		<tr>
			<th>Put-on</th>
			<td>{{ river.put_on_time }}</td>
		</tr>
		<tr>
			<th>Take-out</th>
			<td>{{ river.take_out_time }}</td>
		</tr>
		<tr>
			<th>River</th>
			<td>{{ river.river }}</td>
		</tr>
		<tr>
			<th>Section</th>
			<td>{{ river.section }}</td>
		</tr>
		<tr>
			<th>USGS Level</th>
			<td>{{ river.usgs_level }}</td>
		</tr>
		<tr>
			<th>Bridge Gauge</th>
			<td>{{ river.bridge_gauge }}</td>
		</tr>
			<th>Notes</th>
			<td>{{ river.notes }}</td>
		</tr>
</table>
{% endblock %}
